img{
    height: 30px;
    width: 30px;
    margin: 10px;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.noticia{
    height: 40%;
    width: 40%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section{
    width: 70%;
}
aside{
    width: 25%;
    margin: 10px;
}
td{
    justify-content: center;
    padding: 7px;
}
footer{
    background-color: black;
    color: white;
}
.noticia2{
    height: 40%;
    width: 50%;
}
.escudo:hover{
    transition-property: box-shadow;
    transition-duration: 3s;
    box-shadow: 5px 5px 5px black;

}
