body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(red,white);
    animation-duration: 3s;
    animation-name: slidein;
    color: white;
}
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}
section{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
