h1{
    text-align: center;
    color: rgb(112, 77, 77);
    font-family: fantasy;
}
body{
    background-color:cadetblue;
}
td{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
    color: cadetblue;
    height: 3cm;
    font-weight: 1cm;
}
img{
    margin-left: 3cm;
    margin-top: 2cm;
    border-color: black;
    border-radius: 1cm;
    border-bottom-style:groove;
    border-color: black;
}
