body{
    width: 100%;
    display:inline-block;
    background-color: coral;
    height: 200px;
}
button{
    margin: 5px;
    border-radius: 10px;
}
h1{
    align-content: center;
    justify-content: center;
    text-align: center;
}
p{
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    background-color: beige;
}

.reiniciar{
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
}